<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lwlsh.trex.dao.IkwResultDao">
	<!-- 数据访问层 -->
	<resultMap type="com.lwlsh.trex.pojo.KwRunResultPojo" id="BaseResultMap">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="beginTime" property="beginTime" jdbcType="DATE" />
		<result column="endTime" property="endTime" jdbcType="DATE" />
		<result column="runResult" property="runResult" jdbcType="VARCHAR" />
		<result column="failContent" property="failContent" jdbcType="VARCHAR" />
		<result column="failImageName" property="failImageName" jdbcType="VARCHAR" />
		<result column="sucImageName" property="sucImageName" jdbcType="VARCHAR" />
		<result column="tcmodelName" property="tcmodelName" jdbcType="VARCHAR" />
		<result column="testcaseId" property="testcaseId" jdbcType="INTEGER" />
		<result column="projectId" property="projectId" jdbcType="INTEGER" />
	</resultMap>
      
   <!-- 增加用例执行结果--> 
  <insert id="addTcrusultDetail">
  insert into kw_result_detail(id, beginTime,endTime,runResult,failContent,failImageName,sucImageName,tcmodelName,testcaseId,projectId) 
   values(#{id},#{beginTime},#{endTime},#{runResult},#{failContent},#{failImageName},#{sucImageName},#{tcmodelName},#{testcaseId},#{projectId})
  </insert> 


  
</mapper>